<!DOCTYPE html>
<html>
   
<head>
    <link rel ="stylesheet" href="attendance.css">
    <script src="https://kit.fontawesome.com/57a72e588d.js" crossorigin="anonymous"></script>
</head>
    <body>
        <div id = "horizontalMenu">
            <a class = "links" href = "index.html">Home<i class="fas fa-home"></i></a>
            <a class = "links" href = "classes.html">Classes<i class="fas fa-book"></i></a>
            <a class = "links" href = "createClass.html">Create Classes<i class="fas fa-plus"></i></a>
            <a class = "links" href = "students.html">Students<i class="fas fa-users"></i></a>
            <a class = "links" href = "addStudents.html">Add Students<i class="fas fa-plus"></i></a>
            <a class = "links" href = "teachers.html">Teachers<i class="fas fa-users"></i></a>
        </div><br><br>
    </body>
    </html>
    <script src = "attendance.js">

    </script>
</html>