body{
    background-color: #f2e9e4;
}
.button{
    background-color: #22223b;
    color:#f2e9e4;
    padding: 5px 10px;
    border-radius: 10px;
}
#legend{
    background-color: #22223b;
    color:#f2e9e4
}

#studentCreation{
    margin: 10px 0;
    border: solid black 3px;
    display: block;
    margin: 0 auto;
    width: 270px;
    height: 260px;
    text-align: center;
}
#notification{
    text-align: center;
    background-color: #22223b;
    color:#f2e9e4;
    width: 30%;
    border-radius: 10px;
    margin: 0 auto;
}
#horizontalMenu{
    position: fixed;
    width: 100%;
    background-color: #22223b;
    left: 0%;
    top: 0%;
    height: 50px;
}
.links{
    color:#f2e9e4;
    text-decoration:none;
}
#warning{
    text-align: center;
    color: #22223b;
    font-weight: 1000;
}

#menuIcons{
    display: flex;
    justify-content: space-between;
    height: 50px;
    margin-top: 15px;
}