body{

    /* background-color: #f2e9e4; */
    background-image: url("hexagon.jpg");
}

#horizontalMenu{
    position: fixed;
    width: 100%;
    background-color: #051726;
    left: 0%;
    top: 0%;
    height: 50px;
}
#menuIcons{
    display: flex;
    justify-content: space-between;
    height: 50px;
    margin-top: 15px;
}
.links{
    color:#f7f8f8;
    text-decoration:none;
}
#legend{
    background-color: #051726;
    color:#f7f8f8;
}
#classes{
    margin: 10px 0;
    border: solid black 3px;
    display: block;
    margin: 0 auto;
    width: 270px;
    height: 140px;
    text-align: center;
}

#form{
    margin: 100px 0;
}

.button{
    background-color: #051726;
    color:#f7f8f8;
    padding: 5px 10px;
    border-radius: 10px;
}

#warning{
    text-align: center;
    color: #051726;
    font-weight: 1000;
}

