#header{
    color:#22223b;
    text-align: center;
}
body{
    background-color: #f2e9e4;
}

#horizontalMenu{
    position: fixed;
    width: 100%;
    background-color: #22223b;
    left: 0%;
    top: 0%;
    height: 50px;
}
#menuIcons{
    display: flex;
    justify-content: space-between;
    height: 50px;
    margin-top: 15px;
}

.links{
    color:#f2e9e4;
    text-decoration:none;
}
#set1{
    margin: 125px 0;
    display: flex;
    justify-content: space-around;
}
#set2{
    margin: 125px 0;
    display: flex;
    justify-content: space-around;
}

.mainModules{
    border-radius: 10px;
    height: 100px;
    width: 100px;
    color: #22223b;
    background-color: #f2e9e4; 
}

/* #footer {
    position: fixed;
    left:0;
    bottom: 0;
    right:0;
    width: 100%;
    background-color: #c9ada7;
    color: #22223b;
    text-align: center;
  } */
