#header{
    color:#22223b;
    text-align: center;
}
body{
    background-color: #f2e9e4;
}
#horizontalMenu{
    display: flex;
    justify-content: space-evenly;
    position: sticky;
    top: 0px;
    background-color: #22223b;
}
.links{
    color:#f2e9e4;
    text-decoration:none;
}
#set1{
    margin: 50px 0;
    display: flex;
    justify-content: space-around;
}
#set2{
    margin: 50px 0;
    display: flex;
    justify-content: space-around;
}
#createClass-btn{
    border-radius: 10px;
    height: 100px;
    width: 100px;
    color: #22223b;
    background-color: #c9ada7;
}
#classes{
    border-radius: 10px;
    height: 100px;
    width: 100px;
    color: #22223b;
    background-color: #c9ada7;
}
#teachers{
    border-radius: 10px;
    height: 100px;
    width: 100px;
    color: #22223b;
    background-color: #c9ada7;
}
#attendance{
    border-radius: 10px;
    height: 100px;
    width: 100px;
    color: #22223b;
    background-color: #c9ada7;
}
#students{
    border-radius: 10px;
    height: 100px;
    width: 100px;
    color: #22223b;
    background-color: #c9ada7;
}
#footer {
    position: fixed;
    left:0;
    bottom: 0;
    right:0;
    width: 100%;
    background-color: #c9ada7;
    color: #22223b;
    text-align: center;
  }
