#header{
    color:#22223b;
    text-align: center;
}
body{
    /* background-color: #f2e9e4; */
    background-image: url("hexagon.jpg"); 
}

#horizontalMenu{
    position: fixed;
    width: 100%;
    background-color: #051726; 
    left: 0%;
    top: 0%;
    height: 75px; 
}
#main{
    display: flex;
    margin: 20px 0;
}
#content{
    margin-left: 200px;
    height: 100vh;
} 
.verticalMenu /*a*/{
    display: flex;
    flex-direction: column;
    position: fixed;
    background-color: #051726; 
    height: 100vh;
    width: 20vh;
/* display: block;
padding-top: 80px;
margin: 0 1rem;  */
}
#btn{
    margin-top: 20px;
    margin-left: 100px;
    height: 25px;
    border-radius: 5px;
    background-color: #f7f8f8; 
    padding: 0 5;
}

#linkss{
    margin-top: 50px;
    margin-left:20px ;
    color:#f7f8f8;
    text-decoration:none;
}
#logo{
    height: 85px;
}
#corner{
    display: flex;
    flex-direction: column;
    position: fixed;
    background-color: #051726; 
}
#menuIcons{
     display: flex;
    /* justify-content: space-between; */
    height: 50px;
}
#linksss{
    color: #051726;
    text-decoration: none;
} 
#anchor{
    margin-top: 20px; ;
    color:#f7f8f8;
    text-decoration:none;
    margin-left: 80px;
}
.links{
    margin-top: 20px;
    margin-left: 100px;
    color:#f7f8f8;
    text-decoration:none;
}
#set1{
    margin: 125px 0;
    display: flex;
    justify-content: space-around;
}
#set2{
    margin: 125px 0;
    display: flex;
    justify-content: space-around;
}

/* .mainModules{
    border-radius: 10px;
    height: 100px;
    width: 100px;
    color: #22223b;
    background-color: #f2e9e4; 
}  */

/* #footer {
    position: fixed;
    left:0;
    bottom: 0;
    right:0;
    width: 100%;
    background-color: #c9ada7;
    color: #22223b;
    text-align: center;
  } */
